---
---

@import "../_sass/style";

---
---


/* Foolproof fade edges around hero images */
.swiper-hero img {
  box-shadow: inset 0 0 180px 60px rgba(0, 0, 0, 0.4);
}

/* Custom overrides (Hero Rotator) */
.hero-image-rotator {
  position: relative;
  width: 100%;
}

.hero-rotator-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.hero-rotator-img.active {
  opacity: 1;
  position: relative;
}

